/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0abbfa;
    
}
/* MAKE THIS #root and comment the next one for keep building */
#root {
    display: grid;
    grid-template-areas: "Header"
                            "Main"
                            "Footer";
    grid-template-rows:  auto auto 100vh;
}
/* .rootWelcome {
    display: grid;
    grid-template-areas:    "Main"
                            "Main"
                            "Main";
    grid-template-rows:  auto auto 100vh;
    grid-template-columns: 100vw;
} */


main {
    grid-area: Main;
    /* height: 95vh; */
    /* min-height: 640px; */
    border-radius: 10px;
    background-color: #8ee4f4;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 20px;

}
header {
    grid-area: Header;
    border-radius: 10px;
    background-color: #8ee4f4;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 20px;
    
    
}
footer {
    grid-area: Footer;
    min-height: 640px;
}


section{
    margin: 10px 0 10px;
}